@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred {
  background-color: rgba(2, 23, 61, 0.666);
}
@supports (
  (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))
) {
  .blurred {
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
