@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred {
  background-color: rgba(2, 23, 61, 0.666);
}

@supports (
  (-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px))
) {
  .blurred {
    background-color: transparent;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}

p {
  margin: 0px;
}
